In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("DT.csv",sep = ',', header = 0)
data.head()

     1      2    3     4    sum Unnamed: 5
0  201  10018  250  3046  13515        yes
1  205  10016  395  3044  13660        yes
2  257  10129  109  3251  13746        yes
3  246  10064  324  3137  13771        yes
4  117  10115  496  3094  13822        yes

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   1           1000 non-null   int64
 1   2           1000 non-null   int64
 2   3           1000 non-null   int64
 3   4           1000 non-null   int64
 4   sum         1000 non-null   int64
 5   Unnamed: 5  1000 non-null   object
dtypes: int64(5), object(1)
memory usage: 47.0+ KB

In [5]:
data.dtypes

1              int64
2              int64
3              int64
4              int64
sum            int64
Unnamed: 5    object
dtype: object

In [6]:
data.describe()

                1            2            3            4           sum
count  1000.00000   1000.00000  1000.000000  1000.000000   1000.000000
mean    294.34300  12465.88400   528.042000  4027.011000  17315.280000
std     115.81539   1440.15617   259.796059   565.164179   1589.943875
min     100.00000  10005.00000   100.000000  3003.000000  13515.000000
25%     195.00000  11201.50000   302.000000  3545.000000  16073.750000
50%     289.50000  12450.00000   516.500000  4041.500000  17383.000000
75%     398.00000  13678.25000   753.500000  4507.000000  18595.250000
max     500.00000  14996.00000   997.000000  5000.000000  20737.000000

In [7]:
print("Dataset Length: ", len(data))

Dataset Length:  1000

In [8]:
print("Dataset Shape: ",data.shape)

Dataset Shape:  (1000, 6)

In [9]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn import tree

In [10]:
data.columns

Index(['1', '2', '3', '4', 'sum', 'Unnamed: 5'], dtype='object')

In [11]:
X = data.loc[:,['1','2','3','4','sum']]
y = data['Unnamed: 5']

In [12]:
X_train,X_test,y_train,y_test = train_test_split(X, y,test_size = 0.3,random_state = 100)

In [14]:
# Function to perform training with Entropy
entropy = DecisionTreeClassifier(criterion = 'entropy', random_state = 100, max_depth = 3, min_samples_leaf = 5)
entropy.fit(X_train, y_train)

DecisionTreeClassifier(criterion='entropy', max_depth=3, min_samples_leaf=5,
                       random_state=100)

In [15]:
y_pred = entropy.predict(X_test)
y_pred

array(['yes', 'yes', 'No', 'yes', 'No', 'yes', 'No', 'No', 'No', 'No',
       'No', 'No', 'yes', 'No', 'No', 'yes', 'yes', 'No', 'yes', 'No',
       'No', 'yes', 'No', 'yes', 'yes', 'No', 'No', 'yes', 'No', 'No',
       'No', 'yes', 'yes', 'yes', 'yes', 'No', 'No', 'No', 'yes', 'yes',
       'yes', 'yes', 'yes', 'No', 'No', 'yes', 'No', 'yes', 'No', 'No',
       'yes', 'No', 'yes', 'yes', 'yes', 'yes', 'No', 'No', 'No', 'yes',
       'yes', 'No', 'No', 'yes', 'No', 'yes', 'yes', 'yes', 'No', 'yes',
       'No', 'No', 'No', 'yes', 'No', 'yes', 'yes', 'No', 'yes', 'No',
       'No', 'No', 'No', 'yes', 'No', 'yes', 'No', 'No', 'yes', 'No',
       'yes', 'yes', 'No', 'yes', 'yes', 'No', 'yes', 'yes', 'yes', 'yes',
       'No', 'No', 'yes', 'No', 'No', 'yes', 'yes', 'yes', 'No', 'yes',
       'yes', 'yes', 'yes', 'No', 'No', 'yes', 'yes', 'yes', 'No', 'yes',
       'No', 'No', 'yes', 'yes', 'No', 'No', 'yes', 'yes', 'No', 'No',
       'yes', 'yes', 'No', 'yes', 'yes', 'yes', 'No', 'yes', 'yes', 'No',
       'No', 'yes', 'yes', 'yes', 'No', 'yes', 'yes', 'yes', 'yes', 'No',
       'yes', 'No', 'No', 'No', 'No', 'yes', 'No', 'No', 'No', 'yes',
       'No', 'No', 'yes', 'yes', 'No', 'yes', 'No', 'yes', 'No', 'No',
       'yes', 'yes', 'No', 'yes', 'No', 'yes', 'yes', 'No', 'No', 'No',
       'No', 'No', 'yes', 'No', 'No', 'yes', 'yes', 'yes', 'yes', 'yes',
       'No', 'yes', 'No', 'yes', 'No', 'No', 'No', 'yes', 'yes', 'No',
       'No', 'yes', 'yes', 'No', 'No', 'No', 'yes', 'yes', 'No', 'No',
       'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes',
       'No', 'yes', 'yes', 'No', 'No', 'yes', 'No', 'yes', 'yes', 'No',
       'No', 'yes', 'No', 'yes', 'yes', 'yes', 'yes', 'No', 'No', 'No',
       'No', 'No', 'yes', 'No', 'yes', 'yes', 'No', 'yes', 'yes', 'No',
       'No', 'No', 'yes', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'yes',
       'yes', 'yes', 'yes', 'yes', 'yes', 'No', 'No', 'No', 'No', 'yes',
       'No', 'yes', 'yes', 'yes', 'No', 'No', 'No', 'yes', 'yes', 'No',
       'yes', 'No', 'No', 'No', 'yes', 'yes', 'No', 'No', 'yes', 'yes',
       'No', 'No', 'yes', 'No', 'yes', 'yes', 'No', 'No', 'yes', 'yes'],
      dtype=object)

In [16]:
df1 = pd.DataFrame({'Actual': y_test, 'Predicted': y_pred})  
df1

    Actual Predicted
249    yes       yes
353    yes       yes
537     No        No
424    yes       yes
564     No        No
..     ...       ...
193    yes       yes
838     No        No
974     No        No
203    yes       yes
425    yes       yes

[300 rows x 2 columns]

In [17]:
# Checking the accuracy
print("Accuracy is: ",accuracy_score(y_test, y_pred)*100)

Accuracy is:  100.0